@using MudBlazor
@using Mythetech.Framework.Components.Settings
@using Mythetech.Framework.Infrastructure.Settings
@using Siren.Components.Services
@using Siren.Components.Infrastructure.Keyboard

<MudDialog Class="mf-settings-dialog">
    <TitleContent>
        <SirenStack Row="true">
            <SirenText Typo="Typo.h6">
                <SirenIcon Color="Color.Primary" Class="mr-4" Icon="@SirenIcons.Gears" />
                Settings
            </SirenText>
            <SirenSpacer />
            <MudIconButton Icon="@SirenIcons.Close" OnClick="Cancel" />
        </SirenStack>
    </TitleContent>
    <DialogContent>
        <div class="mf-settings-dialog-content">
            <SettingsPanel @ref="_settingsPanel" ShowTitle="false" AdditionalSectionIds="@(new[] { "Keyboard" })" @bind-ActiveSection="_activeSection">
            <ContentSuffix>
                @* Keyboard Shortcuts section - display only, no editable settings *@
                <div id="section-Keyboard" class="mf-settings-section">
                    <div class="mf-settings-section-header">
                        <SirenIcon Icon="@SirenIcons.Key" Class="mr-2" />
                        <MudText Typo="Typo.h6">Keyboard Shortcuts</MudText>
                    </div>
                    <div class="mf-settings-group">
                        @foreach (var shortcut in KeyboardShortcutsService.GetAllShortcuts())
                        {
                            <div class="mf-setting-item">
                                <div class="mf-dynamic-setting-control">
                                    <div class="mf-setting-label-row">
                                        <MudText Class="mf-setting-label">@shortcut.Description</MudText>
                                    </div>
                                    <div class="mf-setting-control">
                                        <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Primary">
                                            @shortcut.GetDisplayString()
                                        </MudChip>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </ContentSuffix>
            <NavSuffix>
                <SettingsNavLink SettingsId="Keyboard"
                                 DisplayName="Shortcuts"
                                 Icon="@SirenIcons.Key"
                                 IsActive="@(_activeSection == "Keyboard")"
                                 OnClick="@(() => ScrollToSection("Keyboard"))" />
            </NavSuffix>
            </SettingsPanel>
        </div>
    </DialogContent>
    <DialogActions>
        <SirenButton OnClick="Cancel" Variant="Variant.Text">Cancel</SirenButton>
        <SirenButton Variant="Variant.Filled" OnClick="Save">Done</SirenButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Inject]
    SettingsState Settings { get; set; } = default!;

    private SettingsPanel _settingsPanel = default!;
    private string _activeSection = "";

    private void Cancel()
    {
        _settingsPanel.RevertChanges();
        MudDialog.Close(DialogResult.Cancel());
    }

    private async Task Save()
    {
        await _settingsPanel.CommitChangesAsync();
        await Settings.NotifyChangedAsync();
        MudDialog.Close(DialogResult.Ok(true));
    }

    private async Task ScrollToSection(string sectionId)
    {
        _activeSection = sectionId;
        await _settingsPanel.ScrollToSection(sectionId);
    }
}
